<div class="element">
	<label>Title: <input class="text" type="text" name="post[title]" value="<%= @post.title %>" /></label>
</div>
<div class="element">
	<label>Body: <textarea class="textarea" name="post[body]"><%= @post.body %></textarea>
	<em><a href="http://redcloth.org/textile" target="_blank">redcloth enabled!</a></em>
	</label>
</div>