<form action="/posts/<%= @post.id %>" method="post">
	<input type="hidden" name="_method" value="put" />
	<label>Title: <input type="text" name="post[title]" value="<%= @post.title %>" /></label>
	<label>Body: <textarea name="post[body]"><%= @post.body %></textarea></label>
	<input type="submit" value="Update" />
</form>